<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @cohort.name %>
</p>

<p>
  <b>User:</b>
  <% @cohort.users.each do |user| %>
	  <%= link_to user.name, user %>
  <% end %>
</p>

<p>
  <b>Projects:</b>
  <% @cohort.projects.each do |project| %>
	  <%= link_to project.name, project %>
  <% end %>
</p>


<%= link_to 'Edit', edit_cohort_path(@cohort) %> |
<%= link_to 'Back', cohorts_path %>
