<h3>Account &amp; Profile Settings</h3>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors resource %>
  <% unless @user.image_url.blank? %><%= image_tag @user.image_url, :class => "portrait" %><br><br><% end %>
  <%= f.input :image_url, as: :file, label: "Profile picture" %>
  <%= f.input :name, :autofocus => true, label: "Full name" %>
  <%= f.input :email, :required => true %>
  <%= f.input :about, input_html: { rows: 8 }, placeholder: "e.g. I love being a Rails developer because I can create my own startup MVPs" %>
  <%= f.input :website_url, label: 'Personal Blog URL', placeholder: "e.g. www.yourname.com/blog" %>
  <%= f.input :linkedin_url, label: "LinkedIn Profile URL", hint: "Don't forget to <a href='http://help.linkedin.com/app/answers/detail/a_id/87'>customise your public profile URL</a>", placeholder: 'e.g. www.linkedin.com/in/yourname' %>
  <%= f.input :github_url, label: 'GitHub URL', placeholder: "e.g. www.github.com/yourname" %>
  <%= f.input :twitter_url, label: 'Twitter URL', placeholder: "e.g. www.twitter.com/yourname" %>
  <%= f.association :projects, as: :check_boxes, hint: 'Projects where you gave a significant contribution' %>
  <!-- f.association :cohort, as: :select, hint: "Selecting a cohort will publish your profile on the front page" -->
  <%= f.input :password, :autocomplete => "off", :hint => "Leave it blank if you don't want to change it", :required => false %>
  <%= f.input :password_confirmation, :required => false %>
  <%= f.input :current_password, :hint => "We need your current password to confirm your changes", :required => true %>
  <%= f.button :submit, 'Update', :class => 'btn-primary' %>
<% end %>
<h3>Cancel my account</h3>
<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>
<%= link_to "Back", :back %>
