<p>Hello Admin!  You have a few special responsibilities to keep this site humming.</p>
<ol>
  <li>Promote new sign-ups to "User" authorisation, so that they can create and edit projects.</li>
  <li>Publish users and projects by adding them to a cohort.  Regular users cannot add themselves or projects to a cohort.  Users or projects without a cohort are not published.</li>
  <li>Keep an eye on this page to ensure nobody is trying any funny business.</li>
</ol>
<p>Have fun!</p>

<h3>Users</h3>
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Registered</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.name, user %></td>
      <td><%= user.email %></td>
      <td><%= user.created_at.to_date %></td>
      <td><%= user.roles.first.name.titleize unless user.roles.first.nil? %></td>
      <td>
        <a data-toggle="modal" href="#role-options-<%= user.id %>" class="btn btn-mini" type="button">Change role</a>
        <%= render 'users/role', :user => user %>
        <%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini') unless user == current_user %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<h3>Projects</h3>

<table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>About</th>
        <th>Link</th>
        <th>Cohort</th>
        <th>Actions</th>
      </tr>
    </thead>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= truncate project.about, length: 25 %></td>
    <td><%= link_to (truncate project.link_url, length: 20), project.link_url %></td>
    <td><%= project.cohort.nil? ? "None (unpublished)" : project.cohort.name %></td>
    <td><%= link_to 'Show', project, :class => 'btn btn-mini' %>
    <%= link_to 'Edit', edit_project_path(project), :class => 'btn btn-mini' %>
    <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini' %></td>
  </tr>
<% end %>
</table>
<%= link_to 'New Project', new_project_path, class: 'btn' %><br><br>

<h3>Cohorts</h3>
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>First student</th>
      <th>First project</th>
      <th>Actions</th>
    </tr>
  </thead>

<% @cohorts.each do |cohort| %>
  <tr>
    <td><%= cohort.name %></td>
    <td><%= cohort.users.first.name unless cohort.users.first.nil? %></td>
    <td><%= cohort.projects.first.name unless cohort.projects.first.nil? %></td>
    <td><%= link_to 'Show', cohort, :class => 'btn btn-mini' %>
    <%= link_to 'Edit', edit_cohort_path(cohort), :class => 'btn btn-mini' %>
    <%= link_to 'Destroy', cohort, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini' %></td>
  </tr>
<% end %>
</table>
<%= link_to 'New Cohort', new_cohort_path, class: 'btn' %><br><br>