<h3>Users</h3>
<div class="span8">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>About</th>
      <th>LinkedIn</th>
      <th>Website</th>
      <th>Picture</th>
      <th>Cohort</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.name, user %></td>
      <td><%= user.email %></td>
      <td><%= user.about %></td>
      <td><%= user.linkedin_url %></td>
      <td><%= user.website_url %></td>
      <td><%= user.image_url %></td>
      <td><%= user.cohort_id %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
