<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :about, input_html: { rows: 8, class: "full-width" } %>
    <%= f.input :link_url %>
    <%= f.input :image_url, :as => :file %>
    <%= f.association :users, as: :check_boxes %>
    <%= f.association :cohort, as: :radio_buttons %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
