<p id="notice"><%= notice %></p>

<p>
  <b>Image url:</b>
  <%= @project.image_url %>
</p>

<p>
  <b>Link url:</b>
  <%= @project.link_url %>
</p>

<p>
  <b>About:</b>
  <%= @project.about %>
</p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>User:</b>
  <%= @project.user %>
</p>

<p>
  <b>Cohort:</b>
  <%= @project.cohort %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
